.slider-container {
    max-width: 1000px;
    margin: auto auto 200px;
}
.slider-items::-webkit-scrollbar{
    display: none;
    background: transparent;
    width: 0;
}
.slider-items {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.slider-items > * {
    margin-left: 20px;
}
.slider-item {
    border: 1px solid gray;
}