.slider-container {
    max-width: 100%;
    margin: auto auto 200px;
}
.slider-items::-webkit-scrollbar{
    display: none;
    background: transparent;
    width: 0;
}
.slider-items {
    overflow-x: scroll;
    display: grid;
    grid-template: auto / repeat(20, auto);
    grid-gap: 16px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.slider-items > * {
    font-size: 14px;
}
.slider-item {

}
/*card*/
.slider-item-image {
    border-radius: 5px;
    max-height: 235px;
    max-width: 165px;
}