.slider-container {
    max-width: 1185px;
    margin: auto auto 200px;
}
.slider-items::-webkit-scrollbar{
    display: none;
    background: transparent;
    width: 0;
}
.slider-items {
    border: 3px solid #2ecc40;
    overflow-x: scroll;
    display: grid;
    grid-template: auto / repeat(20, auto);
    grid-gap: 20px;
    /*display: flex;*/
    /*flex-direction: row;*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.slider-items > * {
}
.slider-item {

}
/*card*/
.slider-item-image {
    max-height: 320px;
}