* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*background: #070707;*/
    color: #FCFCFC;
}

html {
    background: #070707;
}

:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.App {
    background: #070707;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/*Anime page*/

.anime-page-p-text {
    font-size: 24px;
    font-weight: 400;
}

/*.main-anime-container {*/
/*    margin-left: 130px;*/
/*    background: #302D2D;*/
/*    max-width: 80%;*/
/*    border-radius: 20px;*/
/*    display: grid;*/
/*    grid-template: 50px 1fr 1fr/ 20% 1fr 1fr;*/
/*    grid-gap: 4px 4px;*/
/*}*/

/*.anime-page-title {*/
/*    grid-column-start: span 3;*/
/*    align-self: start;*/
/*}*/

/*.anime-image-block {*/
/*    grid-row-start: span 2;*/
/*}*/

/*.anime-image {*/
/*    border-radius: 10px;*/
/*    max-width: 100%;*/
/*}*/

/*.anime-ranking-block {*/

/*}*/

/*.anime-info-block {*/

/*}*/

/*.anime-synopsis-block {*/
/*    grid-column-start: span 2;*/
/*}*/


.main-anime-container {
    background: #302D2D;
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5%;
}

.anime-page-title {
    /*margin-top:1%;*/
    /*margin-left: 2%;*/
    margin-bottom: 1%;
    align-self: start;
    width: 100%;
}

.anime-image-block {
    /*margin-left: 2%;*/
    width: 26%;
    align-self: start;
}

.anime-image {
    border-radius: 10px;
    width: 90%;
}

/*.anime-ranking-block {*/
/*    align-self: start;*/
/*    width: 35%;*/
/*}*/

/*.anime-info-block {*/
/*    align-self: start;*/
/*    width: 35%;*/
/*}*/

/*.anime-synopsis-block {*/
/*    !*align-self: start;*!*/
/*    width: 60%;*/
/*}*/

.anime-page-info {
    display: flex;
    align-self: start;
    width: 74%;
    flex-wrap: wrap;
}

.anime-info-block {
    align-self: start;
    width: 50%;
}

.anime-ranking-block {
    align-self: start;
    width: 50%;
}

.anime-synopsis-block {
    padding-top: 30px;
}


/*body {*/
/*    background: #070707;*/
/*    margin: 0;*/
/*    font-size: 15px;*/
/*    font-weight: 500px;*/
/*}*/

/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
/*    margin: 0;*/
/*}*/


/*.text-right {*/
/*    float: right;*/
/*}*/

/*.text-center {*/
/*}*/


/*.container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    position: relative;*/
/*    width: 70%;*/
/*    background: #f1f1f1;*/
/*    margin: 100px auto 0;*/
/*    word-break: break-all;*/
/*    border: 1px solid rgba(0, 0, 0, 0.274);*/
/*}*/

/*.bloc-tabs {*/
/*    display: flex;*/
/*}*/
/*.tabs {*/

/*    padding: 15px;*/
/*    text-align: center;*/
/*    width: 50%;*/
/*    background: rgba(128, 128, 128, 0.075);*/
/*    cursor: pointer;*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.274);*/
/*    box-sizing: content-box;*/
/*    position: relative;*/
/*    outline: none;*/
/*}*/
/*.tabs:not(:last-child){*/
/*    border-right: 1px solid rgba(0, 0, 0, 0.274);*/
/*}*/

/*.active-tabs  {*/
/*    background: white;*/
/*    border-bottom: 1px solid transparent;*/
/*}*/

/*.active-tabs::before {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: -5px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    width: calc(100% + 2px);*/
/*    height: 5px;*/
/*    background: rgb(88, 147, 241);*/
/*}*/

/*.content-tabs {*/
/*    flex-grow : 1;*/
/*}*/
/*.content {*/
/*    background: white;*/
/*    padding: 20px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: none;*/
/*}*/
/*.content h2 {*/
/*    padding: 0px 0 5px 0px;*/
/*}*/
/*.content hr {*/
/*    width: 100px;*/
/*    height: 2px;*/
/*    background: #222;*/
/*    margin-bottom: 5px;*/
/*}*/
/*.content p {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.active-content {*/
/*    display: block;*/
/*}*/

/*.table {*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
/*}*/

/*.table-titles {*/
/*    text-align: left;*/
/*}*/

/*.index-column {*/
/*    color: #9da2a8;*/
/*    text-align: center;*/
/*}*/

/*.edit-span {*/
/*    float: right;*/
/*    margin-right: 10px;*/
/*    font-size: 0.93em;*/
/*}*/

/*!*.edit-tr {*!*/
/*!*    *!*/
/*!*}*!*/

/*.main-container {*/
/*    max-width: 1200px;*/
/*    !*background: #fff;*!*/
/*    clear: both;*/
/*    margin: 0 auto;*/
/*    padding: 15px 10px 0;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

/*.header-container {*/
/*    background: #302D2D;*/
/*}*/

/*.item {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    user-select: none;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*!*slider*!*/

/*.window {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*}*/

/*.slider__main-container {*/
/*    width: 1000px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/


/*.all-items-container {*/
/*    height: 100%;*/
/*    width: 225px;*/
/*    display: flex;*/
/*    transition: translate;*/
/*    transition-property: transform;*/
/*    transition-duration: 300ms;*/
/*    transition-timing-function: ease-in-out;*/
/*}*/

/*.arrow {*/
/*    cursor: pointer;*/
/*}*/

/*!*cards*!*/

/*.anime-card-image {*/
/*    max-width: 134px;*/
/*    max-height: 190px;*/
/*    object-fit: cover;*/
/*}*/

/*.cards__img {*/
/*    width: 500px;*/
/*    height: 283px;*/
/*    !*padding-left: 55px;*!*/
/*    !*padding-right: 54px;*!*/
/*    text-align: center;*/
/*    display: block;*/
/*    !*flex-flow: row;*!*/
/*    align-items: center;*/
/*}*/

/*.top-airing-cards {*/
/*    margin: 0;*/
/*    padding: 10px;*/
/*    width: 70%;*/
/*    height: 250px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    color: #FCFCFC;*/
/*    border: 2px solid;*/
/*    !*justify-content: space-between;*!*/
/*    !*flex-wrap: wrap;*!*/
/*    !*padding-top: 32px;*!*/
/*}*/
