* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*background: #070707;*/
    color: #FCFCFC;
}

html {
    background: #070707;
}

:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.App {
    background: #070707;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/*page*/

.page {
    position: absolute;
    margin: 10px auto;
    left: 0;
    right: 0;
    max-width: 1320px;
}
.fadeIn {
    animation: 0.5s fadeIn forwards;
}

.fadeOut {
    animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(400px);
    }
}
/*Anime page*/

.anime-page-text {
    font-size: 22px;
    font-weight: 400;
    padding: 4px;
}

.main-anime-container {
    background: #302D2D;
    max-width: 1320px;
    border-radius: 20px;
    display: grid;
    padding: 25px;
    grid-template: auto 440px auto auto/ 310px 35% 1fr;
    grid-gap: 5px;
}


.anime-page-title {
    grid-column-start: span 3;
}

.anime-image {
    border-radius: 10px;
    width: 280px;
}

.anime-states-block {
    height: auto;
    grid-row-start: 3;
    grid-column-start: span 3;
}

.anime-states-button {
    width: 250px;
}

.anime-states-dropped {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.anime-trailer-block {
    align-self: center;
    text-align: center;
}

.anime-iframe {
    height: 280px;
    width: 100%;
    border: none;
    border-radius: 20px;
}

.trailer-text {
    font-size: 24px;
    font-weight: 400;
}

.anime-info-block {
    padding-right: 10px;
}

.anime-synopsis-block {
    margin-top: 10px;
    grid-column-start: span 3;
}

@media screen and (max-width: 900px){
    .main-anime-container {
        grid-template: auto auto auto auto/ 280px 1fr;
        grid-row-gap: 20px;
    }


    .anime-page-title {
        grid-column-start: span 2;
    }

    .anime-states-block {
        grid-row-start: 3;
        grid-column-start: span 2;
    }

    .anime-trailer-block {
        grid-column-start: span 2;
        grid-row-start: 5;
    }

    .anime-synopsis-block {
        margin-top: 0;
        grid-column-start: span 2;
    }

}

.anime-button {
    width: fit-content;
}

@media screen and (max-width: 645px){
    .main-anime-container {
        grid-template: repeat(2, auto) 107px repeat(3, auto)/  1fr;
        grid-row-gap: 20px;
    }


    .anime-page-title {
        grid-column-start: span 1;
    }

    .anime-image {
        width: 100%;
    }

    .anime-states-block {
        grid-row-start: 3;
        grid-column-start: span 1;
    }

    .anime-trailer-block {
        grid-column-start: span 1;
        grid-row-start: 6;
    }

    .anime-synopsis-block {
        margin-top: 0;
        grid-column-start: span 1;
    }

    .anime-states-button {
        width: 95%;
    }

    .anime-states-dropped {
        /*flex-direction: column;*/
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .anime-button {
        margin: 5px;
        width: 45%;
    }

    .width-100 {
        width: 100%;
    }
}

/*states change anime page*/

.anime-states-dropped, .anime-states-button {
    border-radius: 20px;
    text-align: center;
}

.anime-button {
    transition: all 0.2s ease-in-out;
    background: #BD00FF;
    border: 2px solid #302D2D;
    border-radius: 20px;
    cursor: pointer;
    height: auto;
    text-align: center;
    padding: 10px 40px;
}

.anime-button:hover {
    background: #070707;
}

.purp-back {
    background: #BD00FF;
}

.purp-back:hover {
    border: 2px solid #BD00FF;
}

.red-back {
    background: #FD7B52;
}

.red-back:hover {
    border: 2px solid #FD7B52;
}

.green-back {
    background: #27AE60;
}

.green-back:hover {
    border: 2px solid #27AE60;
}

.fade-enter-active {
    animation: fade-in 500ms forwards;
}

.fade-exit-active {
    animation: fade-out 500ms forwards;
}

.anime-states-item {
    cursor: pointer;
    border-radius: 20px;
    height: auto;
    border: 2px solid #302D2D;
}

.anime-states-item:hover {
    background: #302D2D;
    border: 2px solid #302D2D;
}

/*.not-first {*/
/*    background: #BD00FF;*/
/*}*/

/*.not-first:hover {*/
/*    border: 2px solid #BD00FF;*/
/*}*/

/*.del-item {*/
/*    background: #FF908B;*/
/*}*/

/*.del-item:hover {*/
/*    border: 2px solid #FF908B;*/
/*}*/

/*.active-item {*/
/*    background: rgb(39, 174, 96);*/
/*}*/

/*.active-item:hover {*/
/*    border: 2px solid rgb(39, 174, 96);*/
/*}*/

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}


