* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*background: #070707;*/
    color: #FCFCFC;
    scroll-behavior: smooth !important;
}

html {
    background: #070707;
}

:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.App {
    background: #070707;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/*page*/

.page {
    position: absolute;
    margin: 52px auto 10px;
    left: 0;
    right: 0;
    max-width: 1320px;
    background: #302D2D;
    border-radius: 20px;
    padding: 25px;
    z-index: 1;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
}

.fadeOut {
    animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(400px);
    }
}

.go-to-top-div {

    position: fixed;
    margin-top: 52px;
    width: 100%;
    height: 10px;
    font-size: 2rem;
    z-index: 1;
    float: right;
    cursor: pointer;

    left: 88%;
    bottom: 40px;
}


/*Anime page*/

.anime-page-text {
    font-size: 22px;
    font-weight: 400;
    padding: 4px;
}

.main-anime-container {
    display: grid;
    grid-template: auto auto auto auto/ 310px 35% 1fr;
    grid-gap: 5px;
}


.anime-page-title {
    grid-column-start: span 3;
}

.anime-image {
    border-radius: 10px;
    width: 280px;
}

.anime-states-block {
    height: auto;
    grid-row-start: 3;
    grid-column-start: span 3;
}

.anime-states-button {
    width: 250px;
}

.anime-states-dropped {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.anime-trailer-block {
    align-self: center;
    text-align: center;
}

.anime-iframe {
    height: 280px;
    width: 100%;
    border: none;
    border-radius: 20px;
}

.trailer-text {
    font-size: 24px;
    font-weight: 400;
}

.anime-info-block {
    padding-right: 10px;
}

.anime-synopsis-block {
    margin-top: 10px;
    grid-column-start: span 3;
}

@media screen and (max-width: 900px) {
    .main-anime-container {
        grid-template: auto auto auto auto/ 280px 1fr;
        grid-row-gap: 20px;
    }


    .anime-page-title {
        grid-column-start: span 2;
    }

    .anime-states-block {
        grid-row-start: 3;
        grid-column-start: span 2;
    }

    .anime-trailer-block {
        grid-column-start: span 2;
        grid-row-start: 5;
    }

    .anime-synopsis-block {
        margin-top: 0;
        grid-column-start: span 2;
    }

}

.anime-button {
    width: fit-content;
}

@media screen and (max-width: 645px) {
    .main-anime-container {
        grid-template: repeat(2, auto) 107px repeat(3, auto)/  1fr;
        grid-row-gap: 20px;
    }


    .anime-page-title {
        grid-column-start: span 1;
    }

    .anime-image {
        width: 100%;
    }

    .anime-states-block {
        grid-row-start: 3;
        grid-column-start: span 1;
    }

    .anime-trailer-block {
        grid-column-start: span 1;
        grid-row-start: 6;
    }

    .anime-synopsis-block {
        margin-top: 0;
        grid-column-start: span 1;
    }

    .anime-states-button {
        width: 95%;
    }

    .anime-states-dropped {
        /*flex-direction: column;*/
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .anime-button {
        margin: 5px;
        width: 45%;
    }

    .width-100 {
        width: 100%;
    }
}

/*states change anime page*/

.anime-states-dropped, .anime-states-button {
    border-radius: 20px;
    text-align: center;
}

.anime-button {
    transition: all 0.2s ease-in-out;
    background: #BD00FF;
    border: 2px solid #302D2D;
    border-radius: 20px;
    cursor: pointer;
    height: auto;
    text-align: center;
    padding: 10px 40px;
}

.anime-button:hover {
    background: #070707;
}

.purp-back {
    background: #BD00FF;
}

.purp-back:hover {
    border: 2px solid #BD00FF;
}

.red-back {
    background: #FD7B52;
}

.red-back:hover {
    border: 2px solid #FD7B52;
}

.green-back {
    background: #27AE60;
}

.green-back:hover {
    border: 2px solid #27AE60;
}

.fade-enter-active {
    animation: fade-in 500ms forwards;
}

.fade-exit-active {
    animation: fade-out 500ms forwards;
}

.anime-states-item {
    cursor: pointer;
    border-radius: 20px;
    height: auto;
    border: 2px solid #302D2D;
}

.anime-states-item:hover {
    background: #302D2D;
    border: 2px solid #302D2D;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

/*Search Page*/

.search-page-container {
    display: grid;
    grid-template: auto auto / auto auto;
}

.search-header {
    display: flex;
    justify-content: space-between;
    grid-column-start: span 2;
    align-self: flex-start;
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
}

.filter-menu {
    font-weight: 400;
    border-radius: 5px;
    background: #BD00FF;
    white-space: nowrap;
    padding: 5px 10px;
    margin: 0 7px;
    color: #FCFCFC;
    font-size: 16px;
    outline: none;
    border: 2px solid #302D2D;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .filter-menu {
        display: none;
    }
}

.search-input {
    background: #302D2D;
    color: #E5E5E5;
}

.search-section {
    display: grid;
    grid-gap: 15px;
    grid-template: repeat(10, auto)/ repeat(5, auto);
    height: fit-content;
}

.search-aside {
    margin-right: 0;
    margin-left: auto;
    width: 200px;
}

.cards__img {
    width: 190px;
    height: fit-content;
}

.anime-card-image {
    width: 100%;
    max-height: 90%;
    border-radius: 10px;
}

.figcaption {
    height: fit-content;
}

.filter-header {
    padding: 0 5px;
    margin: 5px 0;
    font-size: 24px;
    cursor: pointer;
}

.filter-ul {
    padding-left: 5px;
}

.filter-name {
    padding-left: 5px;
    font-size: 18px;
}

.filter-checkbox {
    width: 15px;
    height: 15px;
    /*border-radius: 50%;*/
    transition: box-shadow .3s;
    background: lightgrey;
    cursor: pointer;
    border: 1px solid #070707;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
}

.filter-checkbox:checked {
    box-shadow: inset 0 0 0 20px #BD00FF;
}


@media screen and (max-width: 1285px) and (min-width: 975px) {
    .cards__img {
        width: 160px;
        font-size: 13px;
    }
}

@media screen and (max-width: 1140px) and (min-width: 1040px) {
    .cards__img {
        width: 140px;
    }
}

@media screen and (max-width: 1040px) {
    .search-section {
        display: grid;
        grid-gap: 15px;
        grid-template: repeat(13, auto)/ repeat(4, auto);
    }
}

@media screen and (max-width: 975px) {
    .search-section {
        display: grid;
        grid-gap: 15px;
        grid-template: repeat(17, auto)/ repeat(3, auto);
    }
}

@media screen and (max-width: 900px)  and (min-width: 750px) {
    .cards__img {
        width: 160px;
        font-size: 13px;
    }
}

@media screen and (max-width: 810px)  and (min-width: 750px) {
    .cards__img {
        width: 140px;
    }
}

@media screen and (max-width: 750px) {
    .search-section {
        display: grid;
        grid-gap: 10px;
        grid-template: repeat(25, auto)/ repeat(2, auto);
    }
}

@media screen and (max-width: 700px) {
    .cards__img {
        width: 160px;
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {

    .search-page-container {
        display: grid;
        grid-template: auto auto / auto auto auto;
        width: 100%;
    }

    .cards__img {
        width: 48%;
        font-size: 16px;
    }

    .search-section {
        display: flex;
        grid-column-start: span 2;
        flex-wrap: wrap;
    }

    .filter-menu-disactive {
        display: none;
    }
}


.active-header {
    grid-column-start: span 2;
}

.active-section {
    grid-column-start: 1;
    margin-right: 3%;
    position: relative;
    width: calc(100% + 201px);
    z-index: 1;
}

.filter-menu-active {
    float: left;
    position: relative;
    background: #302D2D;
    padding: 20px;
    width: 110%;
    z-index: 3;
}



/*Filters transition*/

.filter-arrow-up {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}

/*transition*/

.filter-enter {
    max-height: 0;
    transition: max-height 500ms ease;
    overflow: hidden;
}

.filter-enter.filter-enter-active {
    height: auto;
    max-height: 800px;
}

.filter-exit {
    max-height: 800px;
    transition: max-height 500ms ease;
}

.filter-exit.filter-exit-active {
    overflow: hidden;
    height: auto;
    max-height: 0;
}

/*Login page*/

.login-page {
    margin-top:52px;
    display: flex;
    width: 100%;
}

.login-page-main {
    width: 45%;
}

.login-aside {
    float:right;
    width: 100%;
}

/*Not found*/

.not-found-container {
    display: flex;
    justify-content: center;
}

/*Profile*/

.profile {
    min-height: 100vh;
}