.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0 auto;
    word-break: break-all;
}
.container th {
    text-align: start;
}
.bloc-tabs {
    display: flex;
}
.tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}
.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}
.content-header {
    font-weight: bold;
    /*color: #070707;*/
    /*background: rgba(232,235,239, .1);*/
    font-size: 18px;
    padding: 5px;
    margin: 25px 5px 5px;
    /*border-left: 5px solid rgba(0, 0, 0, 0.274);*/
}
@media screen and (max-width: 400px) {

}
.edit-form {
    margin: 10px;
    display: flex;
}

/*.active-tabs  {*/
/*    border-bottom: 1px solid transparent;*/
/*}*/

/*.active-tabs::before {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: -5px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    width: calc(100% + 2px);*/
/*    height: 5px;*/
/*    background: #BD00FF;*/
/*}*/



button {
    border: none;

}
.content-tabs {
    flex-grow : 1;
}
.content {

    width: 100%;
    height: 100%;
    display: block;
}
.content h2 {
    padding: 0 0 5px 0;
}
.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}
.content p {
    width: 100%;
    height: 100%;
}
/*.active-content {*/
/*    display: block;*/
/*}*/
.index-column {
    width: 30px;
}
.name-column {
    width: 1fr;
}
.progress-column {
    width: 70px;
}
.type-column {
    width: 70px;
}

.table {
    width: 100%;
}
.name {
    display: flex;
    justify-content: space-between;
}
.edit-span {
    cursor: pointer;
    margin-right: 10px;
    min-width:28px;
}
.content-tr{
    padding: 5px;
}
.content-tr:hover{
    background: rgba(128, 128, 128, 0.15);
}
td {
    padding: 5px 0;
}
/*Edit */
.edit-tr {
    background: rgba(128, 128, 128, 0.15);
}
select {
    outline: 0;
    color: #070707;
    background: #ddd;
    top: calc(100% + .5rem);
    left: 0;
    margin: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
    border: none;
}
option {
    color: #000;
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}
input[type=number]{
    outline: none;
    color: #070707;
    background: #ddd;
    top: calc(100% + .5rem);
    left: 0;
    margin: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
}
input[type=submit]{
    outline: none;
    cursor: pointer;
    color: #070707;
    background: #ddd;
    top: calc(100% + .5rem);
    left: 0;
    margin: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
    border: none;
}


